@import "../../bower_components/d-style/src/sass/dstyle.sass"

stopwatch-app
  justify-content: center

stopwatch-counter
  display: block
  width: 320px
  position: relative
  margin: $grid-gutter-width / 2 0 0
  @media(min-width: 400px)
    margin: $grid-gutter-width / 2 auto 0
  @media(min-width: $screen-sm-min)
    width: 352px
    margin: $grid-gutter-width / 2 $grid-gutter-width / 2 0

stopwatch-summary
  display: block
  padding-top: $grid-gutter-width / 2