<link rel="import" href="moment.html">
<script>
  window.MyBehaviors = window.MyBehaviors || {};

  MyBehaviors.dateBehavior = {
    humanize: function(duration, mode) {
      var i, index, len, ref, timeString, unit, units, value;
      if (mode == null) {
        mode = 'verbose';
      }
      if (!moment.isDuration(duration)) {
        duration = moment.duration(duration);
      }
      units = ['ч.', 'мин.', 'сек.'];
      timeString = '';
      ref = [duration.hours(), duration.minutes(), duration.seconds()];
      for (index = i = 0, len = ref.length; i < len; index = ++i) {
        value = ref[index];
        unit = units.shift();
        if (value > 0 || (mode === 'verbose' && timeString !== '')) {
          timeString += value + ' ' + unit;
          if (index < 2) {
            timeString += ' ';
          }
        }
        if (index === 2 && timeString === '') {
          timeString = '00 ' + unit;
        }
      }
      return timeString;
    }
  };
</script>
