<link rel="import" href="/bower_components/polymer/polymer-element.html">

<dom-module id="stopwatch-lap">
    <template>
        <style>
            .shift {
                position: absolute;
                transform: translateX(-100%) translateY(15px);
            }
        </style>
        <div class="lap">
            <template is="dom-if" if="{{shift}}">
                <span class="shift">+ [[humanize(shift)]]</span>
            </template>
            <iron-icon icon="stopwatch:flag"></iron-icon>
            <span>[[format(value)]]</span>
        </div>
    </template>
    <script>
      class StopwatchLap extends Polymer.Element {
        static get is() {
          return 'stopwatch-lap';
        }

        static get properties() {
          return {
            value: Number,
            shift: Number
          }
        }

        format(duration) {
          let index, i, len;
          if (!moment.isDuration(duration)) {
            duration = moment.duration(duration);
          }
          let timeString = '';
          let ref = [duration.hours(), duration.minutes(), duration.seconds()];
          for (index = 0, i = 0, len = ref.length; i < len; index = ++i) {
            let value = ref[index];
            if (value < 10) {
              timeString += '0';
            }
            timeString += value;
            if (index < 2) {
              timeString += ':';
            }
          }
          if (index === 2 && timeString === '') {
            timeString = '00';
          }
          return timeString;
        }

        humanize(duration) {
          if (!moment.isDuration(duration)) {
            duration = moment.duration(duration);
          }
          let units = ['ч.', 'мин.', 'сек.'];
          let timeString = '';
          let ref = [duration.hours(), duration.minutes(), duration.seconds()];
          for (let index = 0, i = 0, len = ref.length; i < len; index = ++i) {
            let value = ref[index];
            let unit = units.shift();
            if (value > 0 || timeString !== '') {
              timeString += value + ' ' + unit;
              if (index < 2) {
                timeString += ' ';
              }
            }
            if (index === 2 && timeString === '') {
              timeString = '00 ' + unit;
            }
          }
          return timeString;
        }
      }

      customElements.define(StopwatchLap.is, StopwatchLap);
    </script>
</dom-module>
