<link rel="import" href="../../dist/components/date-behavior.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../dist/components/history-slider.html">

<link rel="import" href="../../dist/css-modules/stopwatch-stats.module.html">
<dom-module id="stopwatch-stats">
    <template>
        <style include="stopwatch-stats.module"></style>
        <iron-localstorage name="history" value="{{history}}"
                           on-iron-localstorage-load="checkHistory"
                           on-iron-localstorage-load-empty="defaultHistory"></iron-localstorage>
        <iron-localstorage name="statsTimeRange" value="{{timeRange}}"
                           on-iron-localstorage-load-empty="defaultTimeRange"></iron-localstorage>

        <div class="text-right">
            <label id="timeRangeLabel">Показать за:</label>
            <paper-radio-group aria-labelledby="timeRangeLabel" selected="{{timeRange}}">
                <paper-radio-button name="week">неделю</paper-radio-button>
                <paper-radio-button name="month">месяц</paper-radio-button>
                <paper-radio-button name="quarter">квартал</paper-radio-button>
                <paper-radio-button name="year">год</paper-radio-button>
            </paper-radio-group>
        </div>
        <google-chart id="googleChart" type="column" on-google-chart-select="select" style="width: 100%"></google-chart>

        [[selectedDay]]<br>
        <template id="historySliders" is="dom-repeat" items="{{history}}" filter="{{filterSliders(selectedDay)}}">
            <history-slider start="[[item.s]]" end="{{item.e}}"></history-slider>
        </template>
    </template>
    <script>
        Polymer({
          is: 'stopwatch-stats',
          behaviors: [MyBehaviors.dateBehavior],
          properties: {
            history: Array,
            data: {
              type: Object
            },
            timeRange: {
              type: String
            },
            dateFormat: {
              type: String,
              value: 'D MMM'
            },
            selectedDay: {
              type: String,
              value: ''
            }
          },
          observers: ['displayData(data.*, timeRange)', 'historyChanged(history.*)'],
          ready: function() {
            this.$.googleChart.options = {
              title: 'Статистика таймеров'
            };
            return this.$.googleChart.cols = [
              {
                label: 'День',
                type: 'string'
              }, {
                label: 'Часы',
                type: 'number'
              }
            ];
          },
          historyChanged: function() {
            return this.set('data', this.prepareData(this.history));
          },
          displayData: function() {
            var day, duration, keys, rows, start, today;
            keys = Object.keys(this.data);
            keys.sort();
            day = moment(parseInt(keys[0]));
            today = moment().startOf('day');
            start = moment().subtract(1, this.timeRange + 's');
            rows = [];
            while (true) {
              if (day.isAfter(start)) {
                duration = moment.duration(this.data[day.valueOf()]);
                rows.push([
                  day.format(this.dateFormat), {
                    v: duration.asHours(),
                    f: this.humanize(duration, 'meaning')
                  }
                ]);
              }
              if (!(day.add(1, 'd').valueOf() <= today)) {
                break;
              }
            }
            return this.$.googleChart.rows = rows;
          },
          prepareData: function(history) {
            var end, endDay, i, len, parsedHistory, point, start, startDay;
            if (history[0][0] != null) {
              return;
            }
            start = 0;
            end = 0;
            parsedHistory = {};
            for (i = 0, len = history.length; i < len; i++) {
              point = history[i];
              start = moment(point.s * 60000);
              end = moment(point.e * 60000);
              startDay = start.clone().startOf('day').valueOf();
              endDay = end.clone().startOf('day').valueOf();
              if (parsedHistory[startDay] == null) {
                parsedHistory[startDay] = 0;
              }
              if (startDay === endDay) {
                parsedHistory[startDay] += end.diff(start);
              } else {
                parsedHistory[startDay] += start.clone().endOf('day').diff(start);
                if (parsedHistory[endDay] == null) {
                  parsedHistory[endDay] = 0;
                }
                parsedHistory[endDay] += end.diff(end.clone().startOf('day'));
              }
            }
            return parsedHistory;
          },
          defaultHistory: function() {
            return this.history = [];
          },
          defaultTimeRange: function() {
            return this.timeRange = 'month';
          },
          select: function(e, detail) {
            var date;
            date = moment(this.$.googleChart.rows[detail.selection[0].row], this.dateFormat);
            this.selectedDay = date.format(this.dateFormat);
            return this.$.historySliders.render();
          },
          checkHistory: function() {
            var i, len, newHistory, point, ref;
            if (this.history[0][0] != null) {
              newHistory = [];
              ref = this.history;
              for (i = 0, len = ref.length; i < len; i++) {
                point = ref[i];
                newHistory.push({
                  s: point[0],
                  e: point[1]
                });
              }
              return this.set('history', newHistory);
            }
          },
          filterSliders: function(selectedDay) {
            var dateFormat;
            dateFormat = this.dateFormat;
            return function(item) {
              if (selectedDay != null) {
                return moment(selectedDay, dateFormat).isSame(moment(item.s * 60000), 'day');
              } else {
                return false;
              }
            };
          }
        });
    </script>
</dom-module>
