<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">

<link rel="import" href="../../dist/css-modules/stopwatch.module.html">
<dom-module id="stopwatch-counter">
    <template>
        <style>
            paper-card:not(.running):not(.opened) {
                /*noinspection CssInvalidFunction*/
                color: var(--secondary-text-color);
            }

            paper-card:not(.running):not(.opened) .card-actions {
                /*noinspection CssInvalidFunction*/
                border-color: var(--secondary-text-color);
            }
        </style>
        <style include="stopwatch.module"></style>
        <paper-card id="wrapper" class$="{{getStatus(run, meted, history)}}">
            <div class="card-content">
                <div class="value" title="[[asMinutes(value)]]">[[format(value)]]</div>
                <div class="name">[[name]]</div>
            </div>
            <div class="card-actions">
                <div class="buttons-group layout horizontal text-center">
                    <paper-button class="btn primary-button flex" on-click="toggle">
                        <iron-icon class="icon play-icon" icon="stopwatch:play-arrow"></iron-icon>
                        <iron-icon class="icon pause-icon" icon="stopwatch:pause"></iron-icon>
                    </paper-button>
                    <paper-button class="btn second-buttons stop-btn" on-click="stop">
                        <iron-icon class="icon" icon="stopwatch:stop"></iron-icon>
                    </paper-button>
                    <paper-button class="btn second-buttons lap-btn" on-click="lap">
                        <iron-icon class="icon" icon="stopwatch:flag"></iron-icon>
                    </paper-button>
                    <paper-button class="btn second-buttons" data-action="info" on-click="moreInfo">
                        <iron-icon class="icon expand-icon" icon="stopwatch:expand-more"></iron-icon>
                    </paper-button>
                </div>
            </div>
            <iron-collapse class="info" id="moreInfo">
                <paper-input label="Название счётчика" value="{{name}}" on-change="onNameChange"></paper-input>

                <template is="dom-repeat" items="[[getGroupedHistory(history.*)]]">
                    [[item.day]]<br>
                    <ol class="history-list">
                        <template is="dom-repeat" items="[[item.history]]">
                            <li>{{item}}</li>
                        </template>
                    </ol>
                </template>
            </iron-collapse>
            <div class="laps-wrapper">
                <div class="laps layout vertical end" id="laps">
                    <template is="dom-repeat" items="{{laps}}">
                        <stopwatch-lap value="{{item.value}}" shift="{{item.shift}}"></stopwatch-lap>
                    </template>
                </div>
            </div>
            <paper-icon-button icon="stopwatch:delete" class="btn-delete" on-click="delete"></paper-icon-button>
        </paper-card>
    </template>
    <script>
      Polymer({
        is: 'stopwatch-counter',
        behaviors: [Polymer.NeonAnimationRunnerBehavior],
        properties: {
          value: {
            type: Number,
            computed: "getValue(run, beginning, meted, timestamp)"
          },
          beginning: {
            type: Number,
            notify: true
          },
          run: {
            type: Boolean,
            notify: true
          },
          name: {
            type: String,
            notify: true
          },
          meted: {
            type: Number,
            notify: true
          },
          timestamp: {
            type: Number,
            value: Date.now()
          },
          laps: Array
        },
        ready: function() {
          return this.isNew = true;
        },
        attached: function() {
          var aConf;
          if (this.isNew) {
            aConf = {
              y: '100%'
            };
            if ((this.previousSibling != null) && this.offsetTop === this.previousSibling.offsetTop) {
              aConf.marginRight = -1 * this.offsetWidth + 'px';
            }
            TweenLite.from(this, 0.4, aConf);
            this.isNew = false;
          }
          return this.timer();
        },
        format: function(duration) {
          var i, index, len, ref, timeString, value;
          if (!moment.isDuration(duration)) {
            duration = moment.duration(duration);
          }
          timeString = '';
          ref = [duration.hours(), duration.minutes(), duration.seconds()];
          for (index = i = 0, len = ref.length; i < len; index = ++i) {
            value = ref[index];
            if (value > 0 || timeString !== '') {
              if (value < 10) {
                timeString += '0';
              }
              timeString += value;
              if (index < 2) {
                timeString += ':';
              }
            }
            if (index === 2 && timeString === '') {
              timeString = '00';
            }
          }
          return timeString;
        },
        humanize: function(duration) {
          var i, index, len, ref, timeString, unit, units, value;
          if (!moment.isDuration(duration)) {
            duration = moment.duration(duration);
          }
          units = ['ч.', 'мин.', 'сек.'];
          timeString = '';
          ref = [duration.hours(), duration.minutes(), duration.seconds()];
          for (index = i = 0, len = ref.length; i < len; index = ++i) {
            value = ref[index];
            unit = units.shift();
            if (value > 0 || timeString !== '') {
              timeString += value + ' ' + unit;
              if (index < 2) {
                timeString += ' ';
              }
            }
            if (index === 2 && timeString === '') {
              timeString = '00 ' + unit;
            }
          }
          return timeString;
        },
        getValue: function(run, beginning, meted) {
          var duration;
          if (run !== false) {
            duration = moment.duration(Date.now() - beginning);
          } else {
            duration = moment.duration();
          }
          duration.add(meted);
          return duration;
        },
        getStatus: function(run, meted, history) {
          var status;
          if (history.length === 0) {
            return 'new';
          }
          if (run === true) {
            status = 'running';
          } else if (meted === 0) {
            status = 'ready';
          } else {
            status = 'paused';
          }
          if (this.$.moreInfo.opened) {
            status += ' opened';
          }
          return status;
        },
        getGroupedHistory: function(e) {
          var duration, end, gHistory, group, history, i, index, len, point, row, start;
          history = e.base.slice(0);
          start = 0;
          end = 0;
          gHistory = [
            {
              day: 'Сегодня',
              history: []
            }, {
              day: 'Вчера',
              history: []
            }, {
              day: 'Ранее',
              history: []
            }
          ];
          for (index = i = 0, len = history.length; i < len; index = ++i) {
            point = history[index];
            if (start === 0 && point[0] === 'bgn') {
              start = moment(point[1]);
              continue;
            }
            if (start !== 0 && end === 0 && point[0] === 'end') {
              end = moment(point[1]);
            }
            if (start !== 0 && end !== 0) {
              group = 1;
              if (start.isSameOrAfter(moment().startOf('day'))) {
                group = 0;
              } else if (start.isBefore(moment().subtract(1, 'days').startOf('day'))) {
                group = 2;
              }
              duration = end.diff(start);
              row = start.format('HH:mm') + ' -> ' + end.format('HH:mm') + ' (' + this.humanize(duration) + ')';
              if (group > 1) {
                row = start.format('D MMM') + ' ' + start.format('HH:mm') + ' -> ' + end.format('D MMM') + ' ' + end.format('HH:mm') + ' (' + this.humanize(duration) + ')';
              }
              gHistory[group].history.unshift(row);
              start = end = 0;
            }
          }
          gHistory = gHistory.filter(function(item) {
            return item.history.length !== 0;
          });
          return gHistory;
        },
        timer: function() {
          if (this.run) {
            return this.async(function() {
              this.timestamp = Date.now();
              this.fire('bit');
              return this.timer();
            }, 300);
          }
        },
        moreInfo: function() {
          var moreInfo;
          moreInfo = this.$.moreInfo;
          moreInfo.toggle();
          return this.$.wrapper.toggleClass('opened', moreInfo.opened);
        },
        toggle: function() {
          var now;
          now = Date.now();
          if (!this.run) {
            if (this.beginning === false) {
              this.fire('begin');
            }
            this.beginning = now;
            this.push('history', ['bgn', now]);
            this.run = true;
            this.timer();
          } else {
            this.run = false;
            this.meted += now - this.beginning;
            this.push('history', ['end', now]);
            this.fire('end', {
              bgn: this.beginning,
              end: now
            });
          }
          return this.fire('changed');
        },
        stop: function() {
          var now;
          now = Date.now();
          if (this.run) {
            this.fire('end', {
              bgn: this.beginning,
              end: now
            });
            this.push('history', ['end', now]);
            this.run = false;
          }
          this.meted = 0;
          this.splice('laps', 0, 9999);
          return this.fire('changed');
        },
        "delete": function() {
          return this.fire('delete');
        },
        lap: function() {
          var info;
          info = {};
          info.value = this.meted;
          if (this.run !== false) {
            info.value += Date.now() - this.beginning;
          }
          if (this.laps.length === 0) {
            info.shift = 0;
          } else {
            info.shift = info.value - this.laps[0].value;
          }
          if (this.laps.length === 0 || info.value !== this.laps[0].value) {
            this.unshift('laps', info);
            TweenLite.from(this.$.laps, 0.5, {
              marginTop: '-24px',
              ease: Power2.easeOut
            });
            return this.fire('changed');
          }
        },
        onNameChange: function() {
          return this.fire('changed');
        },
        asMinutes: function(duration) {
          var forms, n;
          n = Math.round(duration.asMinutes());
          if (n < 1) {
            return '';
          }
          forms = ['минута', 'минуты', 'минут'];
          return n + ' ' + forms[n % 10 === 1 && n % 100 !== 11 ? 0 : n % 10 >= 2 && n % 10 <= 4 && (n % 100 < 10 || n % 100 >= 20) ? 1 : 2];
        }
      });
    </script>
</dom-module>
