<link rel="import" href="../../dist/components/moment.html">
<link rel="import" href="../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button">


<link rel="import" href="../../dist/css-modules/stopwatch-stats.module.html">
<dom-module id="stopwatch-stats">
    <template>
        <style>
            :host {
            }
        </style>
        <style include="stopwatch-stats.module"></style>
        <iron-localstorage name="history" value="{{history}}" on-iron-localstorage-load-empty="defaultHistory"></iron-localstorage>
        <iron-localstorage name="statsTimeRange" value="{{timeRange}}" on-iron-localstorage-load-empty="defaultTimeRange"></iron-localstorage>

        <div class="text-right">
            <label id="timeRangeLabel">Показать за:</label>
            <paper-radio-group aria-labelledby="timeRangeLabel" selected="{{timeRange}}">
                <paper-radio-button name="week">неделю</paper-radio-button>
                <paper-radio-button name="month">месяц</paper-radio-button>
                <paper-radio-button name="quarter">квартал</paper-radio-button>
                <paper-radio-button name="year">год</paper-radio-button>
            </paper-radio-group>
        </div>
        <google-chart id="googleChart" type="column" style="width: 100%">
        </google-chart>
    </template>
    <script src="../../dist/js-modules/stopwatch-stats.module.js"></script>
</dom-module>