<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/dist/components/stopwatch.html">
<link rel="import" href="/dist/components/summary.html">

<dom-module id="stopwatch-app">
    <template>
        <div class="layout horizontal center-justified wrap flex">
            <template is="dom-repeat" items="{{items}}">
                <stopwatch-counter beginning="{{item.beginning}}"
                                   run="{{item.run}}"
                                   name="{{item.name}}"
                                   history="{{item.history}}"
                                   laps="{{item.laps}}"
                                   meted="{{item.meted}}"
                                   on-delete="delete"
                                   on-changed="save"
                                   on-begin="addItem"
                                   on-end="pushHistory"
                                   on-bit="_touchClock"></stopwatch-counter>
            </template>
        </div>
        <stopwatch-summary today="{{getSummaryToday(items.*, _clock)}}"
                           yesterday="{{getSummaryYesterday(items.*, _clock)}}"></stopwatch-summary>
    </template>
    <script>
      var e, favicon, i, item, len, newHistory, point, prepare, ref, storage, storedData, x;
      prepare = function(item) {
        (item.beginning != null) || (item.beginning = false);
        (item.run != null) || (item.run = false);
        (item.name != null) || (item.name = '');
        (item.history != null) || (item.history = []);
        (item.laps != null) || (item.laps = []);
        (item.meted != null) || (item.meted = 0);
        return item;
      };
      Polymer({
        is: 'stopwatch-app',
        properties: {
          items: {
            type: Array,
            value: function() {
              return [];
            }
          },
          _clock: {type: String, value: ''}
        },
        ready: function() {
          try {
            storage = window['localStorage'];
            x = '__storage_test__';
            storage.setItem(x, x);
            storage.removeItem(x);
          } catch (error) {
            e = error;
            console.log('Local storage is unsupported or unavailable');
          }
          if (storage != null) {
            if ((storedData = storage.getItem('stopwatches')) != null) {
              storedData = storedData.replace(/(\["end",(\d+)]),\["end",(\d+)]/g, '$1');
              storedData = JSON.parse(storedData);
            }
            if (!Array.isArray(storedData)) {
              storedData = [];
            }
            this.items = (function() {
              var i, len, results;
              results = [];
              for (i = 0, len = storedData.length; i < len; i++) {
                item = storedData[i];
                results.push(prepare(item));
              }
              return results;
            })();
            if (!Array.isArray(this.history = JSON.parse(storage.getItem('history')))) {
              this.history = [];
            } else if (this.history[0][0] != null) {
              newHistory = [];
              ref = this.history;
              for (i = 0, len = ref.length; i < len; i++) {
                point = ref[i];
                newHistory.push({
                  s: point[0],
                  e: point[1]
                });
              }
              this.history = newHistory;
            }
          }
          this.addItem();
          this.favicon();
        },
        addItem: function() {
          this.push('items', prepare({}));
        },
        save: function() {
          var j, len1, ref1, stopwatch, toSave;
          this.favicon();
          if (storage != null) {
            toSave = [];
            ref1 = this.items;
            for (j = 0, len1 = ref1.length; j < len1; j++) {
              stopwatch = ref1[j];
              if (stopwatch.beginning !== false) {
                toSave.push(stopwatch);
              }
            }
            return storage.setItem('stopwatches', JSON.stringify(toSave));
          }
        },
        pushHistory: function(e) {
          var bgn, end;
          if ((e.detail.bgn != null) && (e.detail.end != null)) {
            bgn = Math.round(e.detail.bgn / 60000);
            end = Math.round(e.detail.end / 60000);
            this.history.push({
              s: bgn,
              e: end
            });
            return storage.setItem('history', JSON.stringify(this.history));
          }
        },
        getSummaryToday: function() {
          var end, index, j, k, len1, len2, ref1, ref2, start, stopwatch, summary, today, yesterday;
          summary = start = end = 0;
          today = moment().startOf('day');
          yesterday = moment().subtract(1, 'days').startOf('day');
          ref1 = this.items || [];
          for (j = 0, len1 = ref1.length; j < len1; j++) {
            stopwatch = ref1[j];
            ref2 = stopwatch.history;
            for (index = k = 0, len2 = ref2.length; k < len2; index = ++k) {
              item = ref2[index];
              if (moment(item[1]).isBefore(today)) {
                if (item[0] === 'bgn' && moment(item[1]).isSameOrAfter(yesterday) && (stopwatch.history[index + 1] != null) && moment(stopwatch.history[index + 1][1]).isSameOrAfter(today)) {
                  start = today.valueOf();
                }
                continue;
              }
              if (start === 0) {
                if (item[0] !== 'bgn') {
                  continue;
                }
                start = item[1];
              }
              if (end === 0 && item[0] === 'end') {
                end = item[1];
              }
              if (end === 0 && index === stopwatch.history.length - 1) {
                end = Date.now();
              }
              if (start > 0 && end > 0) {
                summary += end - start;
                start = end = 0;
              }
            }
          }
          return Math.round(summary / 1000);
        },
        getSummaryYesterday: function() {
          var end, index, j, k, len1, len2, ref1, ref2, start, stopwatch, summary, yesterdayEnd, yesterdayStart;
          summary = start = end = 0;
          yesterdayStart = moment().subtract(1, 'days').startOf('day');
          yesterdayEnd = moment().subtract(1, 'days').endOf('day');
          ref1 = this.items || [];
          for (j = 0, len1 = ref1.length; j < len1; j++) {
            stopwatch = ref1[j];
            ref2 = stopwatch.history;
            for (index = k = 0, len2 = ref2.length; k < len2; index = ++k) {
              item = ref2[index];
              if (moment(item[1]).isBefore(yesterdayStart)) {
                if (item[0] === 'bgn' && (stopwatch.history[index + 1] != null) && moment(stopwatch.history[index + 1][1]).isBetween(yesterdayStart, yesterdayEnd, null, '[]')) {
                  start = yesterdayStart.valueOf();
                }
                continue;
              }
              if (moment(item[1]).isAfter(yesterdayEnd)) {
                if (start !== 0) {
                  end = yesterdayEnd.valueOf();
                } else {
                  continue;
                }
              }
              if (start === 0) {
                if (item[0] !== 'bgn') {
                  continue;
                }
                start = item[1];
              }
              if (end === 0 && item[0] === 'end') {
                end = item[1];
              }
              if (end === 0 && index === stopwatch.history.length - 1) {
                end = Date.now();
              }
              if (start > 0 && end > 0) {
                summary += end - start;
                start = end = 0;
              }
            }
          }
          return Math.round(summary / 1000);
        },
        favicon: function() {
          var href, j, len1, link, ref1;
          href = 'dist/img/favicon.png';
          ref1 = this.items;
          for (j = 0, len1 = ref1.length; j < len1; j++) {
            item = ref1[j];
            if (item.run) {
              href = 'dist/img/favicon-r.png';
              break;
            }
          }
          link = document.getElementById('favicon');
          link.href = href;
        },
        delete: function(e) {
          var index = this.items.indexOf(e.model.item);
          this.splice('items', index, 1);
          this.save();
        },
        _touchClock: function() {
          this._clock = this._clock === 'tick' ? 'tock' : 'tick';
        }
      });
    </script>
</dom-module>
